.container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: "Open Sans", sans-serif;
  }
  
  .page_wrap {
    position: relative;
    border-radius: 20px;
    padding: 5px;
    background: rgb(240, 236, 226);
    background: radial-gradient(
      circle,
      rgba(240, 236, 226, 1) 0%,
      rgba(110, 87, 115, 0.6) 100%
    );
    box-shadow: 1px 1px 3px 1px rgba(110, 87, 115, 0.6);
  }
  
  .search {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 10px auto;
    margin-bottom: 15px;
    padding: 8px 2.5px 8px 15px;
    width: 350px;
    height: 37px;
    border: 1px solid #dcdcdc;
    border-radius: 30px;
    background-color: #e7e2db;
  }
  
  .search-bar {
    width: 350px;
    height: 35px;
    border: none;
    background-color: #e7e2db;
  }
  
  ::placeholder {
    font-size: 16px;
    color: #000;
    opacity: 0.7;
  }
  
  .search:hover {
    box-shadow: 1px 1px 8px 1px rgba(110, 87, 115, 0.6);
  }
  
  .search-bar:focus-within {
    outline: none;
  }
  
  .search-button {
    display: inline;
    padding: 4px 9px;
    background-color: transparent;
    border: none;
    color: #3e444a;
    transition: all 200ms ease-in-out;
  }
  
  .search-button:hover {
    background-color: transparent;
    border-color: transparent;
    border-radius: 20px;
    color: #e70000;
    cursor: pointer;
  }
  
  .search-button:focus-within {
    outline: none;
  }
  
  .first-column {
    padding-right: 0;
  }
  
  .second-column {
    padding-left: 0;
  }
  
  .selected_city {
    display: block;
    margin: 0 auto;
    padding-top: 40px;
    height: 335px;
    width: 335px;
    border-radius: 200px;
    text-align: center;
    background-color: rgba(240, 236, 226, 1);
    box-shadow: 1px 1px 20px 1px rgba(202, 156, 72, 0.6);
  }
  
  .icon-main {
    color: black;
    padding-bottom: 5px;
  }
  
  .main-spec {
    font-size: 24px;
  }
  
  .temp-levels {
    font-size: 18px;
  }
  
  .additional-properties {
    list-style-type: none;
    font-size: 17px;
  }
  
  .specification {
    font-weight: 500;
  }
  
  .date {
    text-align: center;
    font-size: 15px;
  }
  
  .week_forecast {
    text-align: center;
    border-left: rgba(33, 37, 41, 0.6) solid 2.5px;
    font-size: 17px;
  }
  
  .forecast {
    text-align: center;
    padding-right: 7px;
    font-size: 20px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
  }
  .first-day {
    margin: 20px;
  }
  
  .second-day {
    margin: 20px;
    padding-top: 10px;
  }
  
  .third-day {
    margin: 20px;
    padding-top: 10px;
  }
  
  .forth-day {
    margin: 20px;
    padding-top: 10px;
    padding-bottom: 20px;
  }
  
  .footer {
    margin-top: 30px;
    text-align: center;
    font-size: 15px;
  }
  .name {
    font-weight: 500;
  }
  a {
    text-decoration: none;
    color: inherit;
  }
  
  a:hover {
    transition: all 200ms ease-in-out;
  }
  
  .icon-footer {
    text-align: center;
    font-size: 36px;
  }
  